* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* CSS for the footer */
.footer {
  display: flex;
  justify-content: space-between;
  background-color: #070f1d;
  color: #fff;
  padding: 40px 20px;
  align-items: end;
}

/* CSS for the left section */
.left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  width: 180px; /* Adjust the logo size as needed */
  height: auto;
  margin-right: 20px; /* Add spacing between the logo and footer message */
}

.footer-message p {
  margin-top: 5px;
  font-size: 18px;
  font-weight: 400;
}

/* CSS for the right section */
.right-section {
  display: flex;
  align-items: center;
}

.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.social-icons li {
  margin-right: 10px; /* Add spacing between social icons */
}

.link {
  color: white;
}
